.header{
    color: white;
    background-color:  #222222;
    text-align: center;
}

.searchbar{
    background-color: grey;
    height: 100%;
   
}

.city{
    height: 500px;
    background-color: lightblue;
}