html{height:100vh;}
body{height:100vh;}
.header{
    color: white;
    background-color:  #222222;
    text-align: center;
}
/* .main{
    min-width: 1138px;
} */

.searchbar{
    background-color: lightgrey;
    min-height: 100vh;
    height: 100%;
    min-width:280px;
   
}

.city{
    height: 500px;
    background-color: lightblue;
    /* margin-left: 15px; */
}