html{height:100vh;}
body{height:100vh;}
.header{
    color: white;
    background-color:  #222222;
    text-align: center;
}

.searchbar{
    background-color: lightgrey;
    min-height: 100vh;
    height: 100%;
    min-width:300px;
   
}
/* .content{
    
    
} */

.city{
    margin-top:15px;
    
    margin-left: 15px;
    border-radius: 15px 0px 0px 15px;
    height: 50vh;
    border-style: solid;
    border-color: lightgrey;
    border-width: 2px;
}

#search-input{
    width: 220px;
}
#city-form{
    display:flex;
}
#icon{
    transform: rotate(-45deg);
}